<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facebook page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <!-- {% for obj in obj_list %}
        <li>{{obj.id}}</li><br>
    {% endfor %} -->

<!--     
    <h1>facebook User</h1>
    <table border="2"  >
       
        <tr>
            <th>user</th>
            <th>user_contact</th>
            <th>user_address</th>
            <th> gender</th>
            <th>education</th>
        </tr>
        <tr>
            {% for obj in obj_list %}
            <td>
               
                <li>{{obj.user}}</li><br>
                <li>{{obj.user_contact}}</li><br>
                <li>{{obj.user_address}}</li>
                <li>{{obj.gender}}</li>
                <li>{{obj.education}}</li><br>
                {% endfor %}
            </td>
        
          

            
        </tr>
        

          -->


    </table>
      
      
        {% for i in follo_values %}
        <li>
        {{i.usr_follrs}}
        {{i.follow_user_id}}
         </li>
        {% endfor %}
      
      
    <h1>hello</h1>
</body>
</html>